// Habilidades

.habilidades {
    padding-top: 6rem;
    margin-bottom: 8rem;
}

@media (min-width: 768px) {
    .habilidades {
        margin-bottom: 8rem;
    }
}

#habilidades {
    border: 2px solid #F5F5F5;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    
}

#habilidades img {
    border-radius: 1rem;
    cursor: context-menu;
    max-width: 5.5rem;
    text-align: center;
}

#tituli-skills{
    margin-bottom: 3rem ;
}

.section-hr-sobremi{
    content: '';
   margin-top: 4rem;
    margin-bottom: 2rem;
    margin: auto;
    width: 30rem;
    height: 6px;
    background: #fe8228;
}

#skillset{
    
     padding-top: 5rem;
}