
body{
    text-align: center;
    background-color:  #0979b0;
  }

.nav-link{
    border: none;
    padding: 15px 30px;
    color: antiquewhite;
}
#nav-color{
    background-color: #29bad7;
}

#portfolio{

   // background-color:#ebeff3;
    background-color: #0979b0;
}
#skillset{

    background-color: #0979b0;
}

#sobreMi{

    background-color: #0979b0;
}
#contact{

    background-color: #36bed9;
    background-color: #0979b0;
}


.row ,h1, p{
    color: antiquewhite;
}


//Iconos de redes

.img-responsive {
    display: inline;
}

#social-media img {
    border-radius: 10rem;
    background-color: $white;
    transition: all ease .3s;
        
}


#facebook:hover {
    background-color: #3b5998;
}

#linkedin:hover {
    background-color: #0077b5;
}

#github:hover {
    background-color: black;
}


#id_btn {

background-color: #fe9141;
color: #f5f9fa;
border: 1px solid #fe8228;
margin: 3rem;
}

.form-group p {
    margin: 1rem;
    font-family: sans-serif;
    position: relative;
}

.movi{
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(../img/imagen4.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: anima 40s linear infinite;
}

@keyframes blink {
    50%{ border-color: transparent;}
    
}

@keyframes anima {
    100%{
        background-position: 1280px 0;
    }
    
}

//imagenes de Skilles

#skillset img{
    border-radius: 1rem;
    cursor: context-menu;
    max-width: 7rem;
    text-align: center;
}
  
#card-imagen p{
    color: #2e0c28;
}
   
a{
    color: white;
}




