.nav-link{
    border: none;
    padding: 15px 30px;
    color: antiquewhite;
}
#nav-color{
    background-color: #29bad7;
}

#home{

    background-color: #36bed9;
}
#portfolio{

    background-color: #36bed9;
}
#skillset{

    background-color: #36bed9;
}

#contact{

    background-color: #36bed9;
}


.row ,h1, p{
    color: antiquewhite;
}


//Iconos de redes

.img-responsive {
    display: inline;
}

#social-media img {
    border-radius: 10rem;
    background-color: $white;
    transition: all ease .3s;
        
}

#facebook:hover {
    background-color: #3b5998;
}

#linkedin:hover {
    background-color: #0077b5;
}

#github:hover {
    background-color: black;
}


#id_btn {

background-color: #fe9141;
color: #f5f9fa;
border: 1px solid #fe8228;
margin: 3rem;
}

.form-group p {
    margin: 1rem;
    font-family: sans-serif;
    position: relative;
}

.movi{
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(../img/imagen4.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: anima 40s linear infinite;
}

@keyframes blink {
    50%{ border-color: transparent;}
    
}

@keyframes anima {
    100%{
        background-position: 1280px 0;
    }
    
}


#skillset img{
    border-radius: 1rem;
    
    max-width: 9rem;
  }
  
  #skillset img:hover {
     
  }
  
  #items2 {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem;
    align-self: center;
    justify-self: center;
    
   }
  
   .estilo{
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem;
    align-self: center;
    justify-self: center;
   }

