@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./visual";

.nav-link{
  border: none;
  padding: 15px 30px;
  color: antiquewhite;
}


#skillset img{
  border-radius: 1rem;
  
  max-width: 9rem;
}

#skillset img:hover {
   
}

#items2 {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem;
  align-self: center;
  justify-self: center;
  
 }

 .estilo{
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem;
  align-self: center;
  justify-self: center;
 }