.boton-contacto {
    background-color:#E84B2A;
    color: white;
    border: none;
    box-shadow: 1px 2px 1px #48529944;
    font-size: 15px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 15px;

    }

.boton-contacto:hover {
    cursor: pointer;
    background-color: #e95538;
}

/** Formulario **/

.formulario {
    border-radius: 1.5rem;
    width: 100%;
    padding-top: 2rem;
    padding-left: 0;
    
}

@media (min-width: 768px) {
    .formulario {
        border-radius: 1.5rem;
        padding: 3rem;
        width: 65%;
        margin: auto;
        
    }
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    
}

.campo__label {
    flex: 0 0 9rem; 
    text-align: right;
    padding: 0;
    margin-right: 2rem;
    color: black;
    margin-left: -4.5rem;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .campo__label {
        flex: 0 0 9rem; 
        text-align: right;
        padding-right: 2rem;
        color: black;
    }
}

.campo__field {
    flex: 1;
    border: 1px solid  #e95538;
    border-radius: .5rem;
    background: transparent;
    color: black;
    width: 100%;
}

.campo__field--textarea {
    height: 16rem;
}

.campoButton{

    width: 70%;
    text-align: right;
}

.campo__field:focus{
    
    outline-color: #b6aba9;
    background: #f3d5d5;
}
.campo__field::placeholder { 
    color: black;
}



.contacto{
    margin-bottom: 1rem;
    padding-top: 5rem ;
}

#about{
    padding-top: 5rem ;
    padding-bottom: 3rem ;
}

