<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <hr class="section-hr" />
        <h2>Contact</h2>
        <hr class="section-hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="form-group">
          <br />
          <h4 for="form-Email">
            &nbsp;&nbsp;<img
              id=""
              src="./img/iconos fiales/email.png"
            />&nbsp;&nbsp; Email : <a href="#">Ruyjoy@hotmail.com</a>
          </h4>
          <br />
        </div>
        <hr />
        <div class="form-group">
          <br />
          <h4 for="form-what">
            <img
              id=""
              src="./img/iconos fiales/whats.png"
            />&nbsp;&nbsp;Whatsapp : <a href="#">+598 91 777 644</a>
          </h4>
          <br />
        </div>

        <hr />
        <div class="form-group">
          <br />
          <h4 for="form-link">
            <img id="" src="./img/iconos fiales/linke.png" />&nbsp;
            Linkedin :&nbsp;
            <a
              href="https://www.linkedin.com/in/jos%C3%A9-luis-ferrer/"
              >in/JoseLuisFerrer</a
            >
          </h4>
          <br />
        </div>
        <hr />
        <div class="form-group">
          <h4 for="form-message">
            Este sitio está desarollado con :
          </h4>
          <div class="d-flex justify-content-center" id="icon-final">
            <img id="html" src="./img/iconos fiales/html.jpg" />

            &nbsp;
            <img id="css" src="./img/iconos fiales/css.png" />

            &nbsp;
            <img id="facebook" src="./img/iconos fiales/sass.png" />

            &nbsp;

            <img id="javascrip" src="./img/iconos fiales/js.png" />

            &nbsp;

            <img
              id="bootstrap"
              src="./img/iconos fiales/bootstrap.png"
            />
            &nbsp;

            <img id="nodejs" src="./img/iconos fiales/node .png" />
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>