<section id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <hr class="section-hr" id="hrport" />
        <div class="form-group text-center">
          <h1>Portfolio</h1>
        </div>
        <hr class="section-hr" id="hrport" />
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5 pb-4">
    <div class="row px-xl-5" id="card-imagen">
      <!-- nueva Start -->

      <template id="card-portfolio">
        <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
          <div class="product-item bg-light mb-4">
            <div
              class="product-img position-relative overflow-hidden"
            >
              <img
                class="img-fluid w-100"
                src="./img/fornite-epic-games-655x368.jpg"
                alt=""
                id="imagen-conta"
              />
              <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href=""
                  ><i class="fab fa-github"></i>
                </a>
                <a class="btn btn-outline-dark btn-square" href=""
                  ><i class="fa fa-search"></i
                ></a>
              </div>
            </div>
            <div class="text-center py-4">
              <h5>JoseLuisFerrer</h5>
              <div
                class="d-flex align-items-center justify-content-center mt-2"
              >
                <h6 class="text-muted ml-2"><del>...</del></h6>
              </div>
            </div>
          </div>
        </div>
      </template>

      <!-- nueva End -->
    </div>
  </div>
</section>

<script
src="https://code.jquery.com/jquery-3.6.1.min.js"
integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous"
></script>

  <script src="./js/_portfolio.js"></script>