<div class="">
  <h1>Proyectos </h1>

  <hr class="section-hr" id="hrport" />
  <br />
  <br />

  <div class="galeria" id="galeriaPortafolio">
    <template id="card-portfolio">
      <div class="contenedor-projects">
        <a href="" target="_blank">
          <div class="imagen-projects">
            <picture>
              <source loading="" srcset="" type="" />
              <img id="imagen-conta" src="./img/celeste.jpg" alt="" />
            </picture>
          </div>
          <div class="texto-projects">
            <h4>Hola soy una imagen</h4>
            <p class="description">
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto perspiciatis beatae sequi ipsam porro dolorum molestiae veniam! 
             Commodi ut officia nam sit. Dolorum, rem? Velit laboriosam ducimus voluptatibus aut veritatis.
            </p>
            <div class="iconos after">
              <picture>
                <img id="img-1" loading="load" src="" alt="" />
                <img id="img-2" loading="load" src="" alt="" />
                <img id="img-3" loading="load" src="" alt="" />
                <img id="img-4" loading="load" src="" alt="" />
                <img id="img-5" loading="load" src="" alt="" />
                <img id="img-6" loading="load" src="" alt="" />
                <img id="img-7" loading="load" src="" alt="" />
                <img id="img-8" loading="load" src="" alt="" />
              </picture>
            </div>
          </div>
        </a>
      </div>
    </template>
  </div>
  <hr class="" />
</div>

<script src="./js/_proyectos.js"></script>