 <!-- Clase hero y cube hacen la animacion en html -->
 <div class="hero">
    <div class="hero__title"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group text-center">
            <div class="row">
              <div class="col-xs-12">
                <hr class="section-hr" />
              </div>
            </div>
            <h1>Skills</h1>
          </div>
          <hr class="section-hr" />
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />

    <div class="container-fluid">
      <div class="row row-cols-3 row-cols-md-6 g-4" id="items">
        <template id="template-card">
          <div>
            <img
              src="./img/iconos/css2.png"
              class="card-img-top"
              alt="..."
            />
          </div>
        </template>
      </div>
    </div>
  </div>



  <div class="hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group text-center">
            <div class="row">
              <div class="col-xs-12">
                <hr class="section-hr" />
              </div>
            </div>
            <h1>Skills</h1>
          </div>
          <hr class="section-hr" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row-cols-3 row-cols-md-6 g-4" id="items">
        <template id="template-card">
          <div>
            <img
              src="./img/iconos/css2.png"
              class="card-img-top"
              alt="..."
            />
          </div>
        </template>
      </div>
    </div>
  </div>

  <script src="../../Portfolio/js/_skills.js"></script>