<div>
    <h1>Un poco más sobre mí</h1>
    <hr class="section-hr-sobremi" />
    <br />
    <div class="borde-decoration"></div>
    <article>
      <p>
        Soy <strong>José Luis</strong> !!, apasionado por el aprendizaje
        constante y entusiasmado por formar parte de una empresa donde pueda
        aplicar y ampliar mis conocimientos. Comprometido con mi crecimiento
        tanto a nivel profesional como personal, busco oportunidades que
        desafíen y estimulen mi desarrollo. Estoy motivado para contribuir
        al éxito de la organización mientras continúo expandiendo mis
        habilidades y experiencia
      </p>
    </article>
    <div class="borde-decoration_about"></div>
  </div>